.booker {
    background-color: rgb(120, 120, 120);

    display: flex;
    flex-direction: column;

    height: 50%;
    width: 50%;
}

.bookerHeader {
    background-color: rgb(150, 150, 150);
    font-size: 200%;
    font-weight: bolder;
    text-align: center;
}

.bookerBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 5%;
}

.bookerBodyItem {
    height: 20%;
    width: 90%;

    margin: none;
    padding: none;
    box-sizing: border-box;
}

.invalid {
    background-color: rgb(255, 0, 0);
}