.circles {
    background-color: rgb(120, 120, 120);
    border: solid 5px black;

    display: flex;
    flex-direction: column;
}

.circlesHeader {
    text-align: center;
    font-size: 200%;
    font-weight: bold;
}

.circlesBody {
    background-color: rgb(150, 150, 150);
    flex-grow: 1;

    height: 300px;
    width: 700px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.circlesBodyRow {
    width: 100%;
    flex-grow: 1;
    display: flex;

    flex-direction: row;
    justify-content: center;
    gap: 10%;

}

.circlesCanvas {
    background-color: antiquewhite;
    cursor: pointer;
}

.contextMenu {
    background-color: rgb(120, 120, 120);
    border: solid 1px black;
    border-radius: 5px;

    height: 200px;
    width: 200px;

    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10%;


}