.counter {
    background-color: rgb(120, 120, 120);
    border: solid 5px black;
    height: 50%;
    width: 50%;

    display: flex;
    flex-direction: column;
}

.counterHeader {
    text-align: center;
    font-size: 200%;
    font-weight: bold;
}

.counterBody {
    background-color: rgb(150, 150, 150);
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 5%;

}

.counterText {
    align-self: center;
    resize: none;
    font-size: 20px;
    height: 60px;
    width: 50%;
    padding: none;
    margin: none;
    border: none;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
    border: solid 1px black;
    box-shadow: rgb(120, 120, 120);
}

.counterButton {
    background-color: rgb(200, 200, 200);
    border: solid 1px black;
    font-size: 20px;
    height: 60px;
    width: 50%;
}